.DS_Store
.gitignor.swp
.idea/DGA.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.ipynb_checkpoints/DGA Detection-checkpoint.ipynb
__pycache__/dgabot.cpython-36.pyc
data/.DS_Store
dgabot/.DS_Store
dgabot/__pycache__/dgabot.cpython-36.pyc
ddgabot/__pycache__/utils.cpython-36.pyc

